<!-- THINK: Think of components in Angular as distinct sections of
            your page that are reusable and have a reasonably
            complex level of interactity. -->
<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar">
            <h1 class="title has-text-primary">Lists</h1>
            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
                    <p class="white-text">
                        {{ list.title }}
                        <span class="pull-right task-delete btn-rounded-corners" (click)="deleteList(list)">X</span>
                    </p>
                </a>
            </div>
            <button class="btn btn-primary btn-rounded-corners" routerLink="/new-list">Add List</button>
        </div>

        <div class="task-list-container">
            <h1 class="title has-text-primary">Tasks</h1>
            <div class="task" [class.complete]="task.completed" *ngFor="let task of tasks" (click)="onTaskClick(task)">
                <p class="white-text">
                    {{ task.title }}
                    <span class="pull-right task-delete btn-rounded-corners" (click)="deleteTask(task)">X</span>
                </p>
            </div>
            <button class="btn-primary add-button" (click)="addTaskClick()">Add Task</button>
        </div>

    </div>
</div>
